.notification {
  background-color: green;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(255, 255, 255, 1);
  position: absolute;
  padding: 16px;
  bottom: 40px;
  left: 20px;
  color: var(--white);
  animation-name: fadeInOut;
  animation-duration: 6s;
  opacity: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
