.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  width: max-content;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 8px;
  border-radius: 4px;
  z-index: 1;
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border: 1px solid var(--white);
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover::after {
  content: attr(data-text);
  position: absolute;
  color: var(--white);
  padding: 6px;
  border-radius: 6px;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
