.header {
  background-color: var(--header-footer-bg-color);
  color: var(--white);
  padding: 20px;
  text-align: center;
}

.main {
  min-width: 1200px;
  margin: 0 auto;
  display: grid;
  padding: 20px;
  grid-template-columns: 25% 50%;
  grid-template-areas:
    'aside list'
    'aside form';
}

.aside {
  grid-row: 1/3;
  grid-area: aside;
  padding: 4px;
}

.section-list {
  grid-area: list;
}

.section-form {
  margin-top: 14px;
  grid-area: form;
  border-top: 1px solid white;
  padding-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--header-footer-bg-color);
  color: var(--white);
  text-align: center;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .main {
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
