.accordion {
  list-style: none;
  padding: 0;
  max-height: 378px;
  overflow-y: auto;
  margin-bottom: 8px;
}

.button-group {
  padding: 2px;
  margin-top: 2px;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.content {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 6px;
  background-color: var(--dark-gray);
}

.question-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.information {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--light-gray);
  margin: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--medium-gray);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--nightshade-gray);
}
